/* styles.css */
body {
    background-color: #000 !important;
    color: #fff;
}

h1 { 
font-size: 150 px;
color: white #FFF;
}

p {
  font-size: 150 px;
  color: darkred;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
}
