/* styles.css */

* {
	font-family: Arial;
}
/* Wireframe - 1 */

position: relative;
width: 1440px;
height: 1024px;

background: #000000;


/* Writing a Letter you intend to
burn afterwords is a therapeutic ritual designed 
to release emotional baggage, 
anger, grief, or limiting beliefs. */

h1 {
position: absolute;
width: 937px;
height: 356px;
left: 263px;
top: 349px;

	
font-family: 'Inria Serif';
font-style: italic;
font-weight: 700;
font-size: 48px;
line-height: 58px;
text-align: center;
letter-spacing: 0.17em;

color: #FFFFFF;
}


/* Vector */

position: absolute;
width: 25px;
height: 59px;
left: 707px;
top: 782px;

background: rgba(180, 171, 171, 0.87);
